@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">.... Üniversitesi Personel ve Öğretim Görevlisi Genel Bilgileri</h1>
    <img src="~/css/universite.jpg"/>
</div>
